@charset "UTF-8";
.work-list {
  list-style: none;
  display: flex;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto";
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
}

footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .logo {
    text-align: left;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.header {
  position: relative;
  display: flex;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 0;
    height: 80px;
  }
}

nav {
  display: none;
}
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    margin-left: 93px;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

.logo--header {
  color: #000000;
}

.header__btn {
  display: block;
  height: 40px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__btn .header__icon-cross {
  display: none;
}

.header__btn.is-open .header__icon-cross {
  display: block;
}

.header__btn.is-open .header__icon-menu {
  display: none;
}

.links-list {
  display: none;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .links-list {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .links-list {
    margin-right: auto;
  }
}

.links-list__link {
  margin-right: 51px;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  position: relative;
  display: block;
}
@media screen and (min-width: 1200px) {
  .links-list__link {
    margin-right: 54px;
  }
}

.links-list__item:last-child {
  margin-right: 0;
}

.links-list__link:hover {
  color: #2196F3;
}

.links-link--active-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 44px;
  display: block;
  border-radius: 4px;
  height: 4px;
  background-color: #2196F3;
  width: 100%;
}

/* Список контактів */
.contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
    margin-left: auto;
    list-style: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__item {
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.contacts-list__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.contacts-list__link {
  font-size: 14px;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1 0.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.contacts-list__link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero-section {
  padding-top: 200px;
  max-width: 1600px;
  background-size: cover;
  padding: 118px 60px 118px 60px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/1x/background-mobile@1x.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/2x/background-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 118px 204px 118px 204px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/1x/background-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/2x/background-tablet@2x.png);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/1x/background-desktop@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/2x/background-desktop@2x.png);
  }
}

.hero-section__title {
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 900;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-section__btn {
  padding: 10px 24px 10px 24px;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hero-section__btn {
    padding: 10px 32px 10px 32px;
  }
}

.modal {
  position: fixed;
  position: relative;
  max-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  z-index: 2;
  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
  padding: 40px;
}

.modal__list {
  list-style: none;
}

.modal__dagger {
  position: absolute;
  top: 14px;
  right: 14px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.modal__dagger:hover {
  fill: #2196F3;
}

.modal__title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__item {
  margin-bottom: 4px;
}

.modal__item:last-child {
  margin-bottom: 0;
  margin-bottom: 20px;
}

.modal__filling {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__inputs {
  position: relative;
}

.modal__fitting {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.modal__fitting:hover {
  border-color: #2196F3;
}

.modal__fitting:hover + .modal__icon {
  fill: #2196F3;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 33%;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.modal__comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.modal__comments:hover {
  border-color: #2196F3;
}

.modal__agreement {
  display: flex;
  margin-bottom: 30px;
}

.modal__checkbox {
  border-color: #212121;
  margin-right: 8px;
}

.modal__agreement-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__agreement-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.modal__btn {
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop.is-hidden .modal {
  transform: translate(50%, -50%);
}

.about-list {
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.about-list__item {
  width: 450px;
}
@media screen and (max-width: 480px) {
  .about-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .about-list__item {
    width: 270px;
  }
}

.about-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about-list__item:last-child {
    margin-right: 0;
  }
}

.about-list__item::before {
  width: 100%;
  height: 120px;
  display: block;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 70px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.about-list__item:nth-child(1)::before {
  background-image: url(../../images/desktop/1x/abouticon1.png);
}

.about-list__item:nth-child(2)::before {
  background-image: url(../../images/desktop/1x/abouticon2.png);
}

.about-list__item:nth-child(3)::before {
  background-image: url(../../images/desktop/1x/abouticon3.png);
}

.about-list__item:nth-child(4)::before {
  background-image: url(../../images/desktop/1x/abouticon4-desktop@1x.png);
}

.about-list__name {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.work-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
    margin-bottom: 94px;
  }
}

.work-section__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.work-list__item {
  margin-right: 30px;
  position: relative;
  display: block;
}

.work-list__item:last-child {
  margin-right: 0;
}

.work-list__item:hover .work-inscription {
  opacity: 1;
}

.work-list__item-hover {
  position: relative;
  display: block;
}

.work-list__item-hover::before {
  content: "";
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  opacity: 0;
  left: 0;
  bottom: 0;
}

.work-inscription {
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-inscription:hover {
  opacity: 1;
}

.team-section {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-left: 15px;
  background-color: #F5F4FA;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.team-list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-list__card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .team-list__card {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    padding-bottom: 30px;
  }
}

.team-list__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team-list__card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  justify-content: center;
  display: flex;
  list-style: none;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-radius 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.social-list__link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-radius: 100%;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients-section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  width: 210px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 170px;
    height: 90px;
  }
}

.clients-list__link:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .info-section {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .info-section {
    margin-right: 70px;
  }
}

.logo--footer {
  color: #FFFFFF;
}

.place {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0, 3em;
  color: #FFFFFF;
  margin-bottom: 8px;
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .place {
    margin-bottom: 20px;
    text-align: left;
  }
}

.info-list {
  list-style: none;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .info-list {
    margin-bottom: 0px;
  }
}

.info-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .info-list__item {
    margin-bottom: 10px;
    text-align: left;
  }
}

.join-section {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join-section {
    margin-bottom: 0px;
    margin-right: 93px;
  }
}

.join-section__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

.join-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.join-list__item {
  margin-right: 10px;
}

.join-list__item:last-child {
  margin-right: 0;
}

.join-list__link {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-radius 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.join-list__link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-radius: 100%;
}

@media screen and (max-width: 480px) {
  .subscribing-section {
    width: 100%;
  }
}

.subscribing-section__title {
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribing-section__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .subscribing-section__content {
    display: flex;
  }
}

.subscribing-section__input {
  display: block;
  width: 450px;
  height: 50px;
  background-color: #2F303A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .subscribing-section__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribing-section__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.subscribing-section__btn {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribing-section__icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.mobile-modal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: white;
  padding-left: 40px;
  padding-top: 48px;
}
@media screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

.mobile-center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal-content {
  margin-top: auto;
}

.mobile-modal.is-open {
  display: block;
}

.modal__links-list {
  list-style: none;
  margin-bottom: auto;
}

.modal__links-list__link {
  position: relative;
  margin-bottom: 35px;
  font-size: 40px;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  display: block;
}

.modal__links-list__link--active-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 44px;
  display: block;
  border-radius: 4px;
  height: 4px;
  background-color: #2196F3;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal__links-list__item:last-child {
    margin-bottom: 0;
  }
}

.modal__links-list__link:hover {
  color: #2196F3;
}

.modal__contacts-list {
  list-style: none;
}

.modal__contacts-list__item {
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.modal__contacts-list__item:last-child {
  margin-bottom: 0;
}

.modal__contacts-list__link {
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.modal__contacts-list__link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.modal__contacts-list__icon {
  display: none;
}

.social-medias {
  display: flex;
  list-style: none;
}

.social-medias__item {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */