@charset "UTF-8";
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto";
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
}

footer {
  height: 252px;
  background: #2F303A;
  display: flex;
  padding-left: 215px;
  padding-top: 60px;
}

.logo {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

p {
  margin: 0;
}

.logo--header {
  color: #000000;
}

/* Список посилань */
.links-list {
  list-style: none;
  display: flex;
  margin-left: 93px;
}

.links-list__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-right: 54px;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  position: relative;
  padding-bottom: 31px;
}

.links-list__item:last-child {
  margin-right: 0;
}

.links-list__link:hover {
  color: #2196F3;
}

.links-link--active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-radius: 4px;
  height: 4px;
  background-color: #2196F3;
  width: 100%;
}

/* Список контактів */
.contacts-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.contacts-list__item {
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.contacts-list__item:last-child {
  margin-right: 0;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.contacts-list__link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.btn-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.btn-list__item {
  margin-right: 8px;
}

.btn-list__item:last-child {
  margin-right: 0;
}

.btn-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  border: none;
  background: #F5F4FA;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  border-radius: 4px;
}

.btn-list__button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 94px;
}

.card-list__item {
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.card-list__item:nth-child(3n) {
  margin-right: 0;
}

.card-list__item:nth-child(n+6) {
  margin-bottom: 0;
}

.card-list__item:hover .card-overlay {
  opacity: 1;
  transform: scale(1);
}

.card-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms, opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}

.card-overlay:hover {
  opacity: 1;
}

.card-overlay__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  padding-top: 118px;
}

.card-description {
  padding-left: 24px;
  padding-top: 20px;
}

.card-description__title {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 20px;
}

.card-description__paragraph {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo--footer {
  color: #FFFFFF;
}

.place {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0, 3em;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 10px;
}

.info-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.join-section {
  margin-left: 70px;
}

.join-section__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-list__item {
  margin-right: 10px;
}

.join-list__item:last-child {
  margin-right: 0;
}

.join-list__link {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-radius 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.join-list__link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-radius: 100%;
}

.subscribing-section {
  margin-left: 50px;
}

.subscribing-section__title {
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribing-section__content {
  display: flex;
}

.subscribing-section__input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 15px;
  margin-right: 12px;
}

.subscribing-section__btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px 10px 30px;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.subscribing-section__icon {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=portfolio.css.map */