.clients-section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.clients-section__title {
    font-weight: 700;
font-size: 36px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-list__item {
    margin-right: 30px;
}

.clients-list__item:nth-last-child() {
    margin-right: 0;
}

.clients-list__link {
    width: 170px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.clients-list__link:hover {
    fill: $accent;
    border-color: #2196F3;
}