.header {
  position: relative;
  display: flex;

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}

nav {
  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.logo--header {
  color: #000000;
}

.header__btn {
  @media screen and (min-width: 480px) {
  display: block;
  height: 40px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__btn .header__icon-cross {
  display: none;
}

.header__btn.is-open .header__icon-cross {
  display: block;
}

.header__btn.is-open .header__icon-menu {
  display: none;
}

.links-list {
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    display: flex;
    align-items: center;
    list-style: none;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.links-list__link {

  @media screen and (min-width: 768px) {
    margin-right: 51px;
    font-size: 14px;
    color: $main-text;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
    position: relative;
    display: block;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 54px;
    padding-bottom: 25px;
  }
}

.links-list__item:last-child {
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

.links-list__link:hover {
  color: $accent;
}

.links-link--active-page::after {
  @media screen and (min-width: 480px) {
    display: none;
  }
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-radius: 4px;
  height: 4px;
  background-color: $accent;
  width: 100%;
}

/* Список контактів */

.contacts-list {

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    list-style: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-list__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.contacts-list__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.contacts-list__link {

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #757575;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  }
}

.contacts-list__link:hover {
  color: $accent;
  fill: $accent;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
