.join-section {
    @media screen and (min-width: 480px) {
    margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 93px;
    } 
}

.join-section__title {
    @media screen and (min-width: 480px) {
    font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $white-text;
margin-bottom: 20px;
text-align: center;
    }
}
        
.join-list {
    @media screen and (min-width: 480px) {
    list-style: none;
    display: flex;
    justify-content: center;
    }
}

.join-list__item {
    @media screen and (min-width: 480px) {
    margin-right: 10px;
    }
}

.join-list__item:last-child {
    @media screen and (min-width: 480px) {
    margin-right: 0;
    }
}

.join-list__link {
    @media screen and (min-width: 480px) {
    display: flex;
    padding: 12px;
    @include center();
    fill: $white-text;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-radius 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
    } 
}

.join-list__link:hover {
    @media screen and (min-width: 480px) {
    fill: $white-text;
    background-color: $accent;
    border-radius: 100%;
    }
}