.subscribing-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.subscribing-section__title {
    @media screen and (min-width: 480px) {
    font-size: 14px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $white-text;
margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
    text-align: left;
    }
}

.subscribing-section__content {
    

    @media screen and (min-width: 1200px) {
    display: flex;
    }
}

.subscribing-section__input {
    @media screen and (min-width: 480px) {
        display: block;
    width: 450px;
    height: 50px;
    background-color: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-top: 15px;
padding-left: 15px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
 }

    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
    }
}

.subscribing-section__btn {
    @media screen and (min-width: 480px) {
    margin-left: auto;
margin-right: auto;
width: 200px;
background: $accent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 30px 10px 30px;
font-size: 14px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.06em;
color: $white-text;
display: flex;
align-items: center;
    }
}

.subscribing-section__icon {
    @media screen and (min-width: 480px) {
    
    }

      @media screen and (min-width: 768px) {
    
    }  

    @media screen and (min-width: 1200px) {
    
    }
    width: 24px;
    height: 24px;
} 