.team-section {
  background-color: $background-color;
  padding-top: 60px;
  padding-left: 15px;
  background-color: $background-color;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.team-list {
  @include grid(30px);
}

.team-list__card {
  @include grid-card($grid-number: 1, $grid-gap: 30px);
  background: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    @include grid-card($grid-number: 2, $grid-gap: 30px);
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    @include grid-card($grid-number: 4, $grid-gap: 30px);
  }
}

.team-list__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team-list__card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
