.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

   @media screen and (min-width: 480px) {
    width: $mobile;
    }  

     @media screen and (min-width: 768px) {
    width: $tablet;
    }  

     @media screen and (min-width: 1200px) {
    width: $desktop;
    }  
}

body {
    font-family: 'Roboto';
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
}

footer {
    @media screen and (min-width: 480px) {
    height: 603px;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    } 

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    height: 463px;
    padding-left: 76px;
    } 

    @media screen and (min-width: 1200px) {
    padding-left: 215px;
    height: 252px;
    flex-wrap: nowrap;
    }
}

.logo {
    @media screen and (min-width: 480px) {
    color: #2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    display: flex;
    // margin-bottom: 20px;  
    align-items: center;
    } 

    @media screen and (min-width: 1200px) {
    text-align: left;
    }  
}